<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!-- {{ ansible_managed }} -->
<service-group>
  <name replace-wildcards="yes">Proxmox VE on %h</name>
  <service>
    <type>_https._tcp</type>
    <port>{{ mdns_http_port }}</port>
    <txt-record>path=/</txt-record>
  </service>
</service-group>
